@import "styles/header.css";
@import "styles/intro.css";
@import "styles/about-us.css";
@import "styles/projects.css";
@import "styles/services.css";
@import "styles/contacts.css";
@import "styles/galery.css";
@import "styles/footter.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
}

section {
  margin: auto;
  padding-top: 105px;
}

.section-long {
  padding-bottom: 60px;
}

section:first-child  {
  margin-top: 0;
}

.section-full {
  width: 100%;
}

.section-nopadd {
  padding: 0;
}

.section-black h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

h1 {
  /*width: 956px; */
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.8px;
  text-align: left;
  color: #121212;
}

h2 {
  margin-top: 42px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #121212;
}

h3 {
  font-size: 30px;
  line-height: 39px;
}


.container {
  width: 1150px;
  margin: 0 auto;
}

.fullbutton {
  margin-top: 90px;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 17px;
    padding-right: 15px;
  }

  section {
    padding-top: 120px;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }
  h2 {
    margin-top: 0;
  }


  .fullbutton {
    margin-top: 102px;
  }

}

.fullbutton {
  display: block;
  width: 100%;
  height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  color: #ad1818;
  padding-top: 56px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
}

.fullbutton:hover {
  background-color: #ad1818;
  color: #ffffff;
}

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 12px;
  }

  section {
    padding-top: 80px;
  }

  section:first-child {
    padding-top: 60px;
  }

  h1 {
    font-size: 30px;
    line-height: 32px;
  }

  h2 {
    font-size: 14px;
    line-height: 19px;
  }

  .fullbutton {
    height: 100px;
    margin-top: 60px;
    font-size: 22px;
    padding-top: 37px;
  }

}

h2, h3, .image-text, .about_us_text, .project_name, .project_link, .fullbutton {
  letter-spacing: -0.03em;
 }


.text {
  font-size: 35px;
}

.section-black {
  margin: 0 auto;
  height: 1844px;
  background-color: #121212;
}

.section-black_footer {
  margin: 0 auto;
  height: 229px;
  background-color: #121212;
}

.boxes-wrapper_down {
  margin: 0 auto;
  width: 1400px;
  height: 229px;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
}
